:root {
    --container-background: #EEF3F9;
    --blue1: #2F80ED;
    --blue2: #1B5CB3;
    --blue3: #1B5CB3;
    --blue4: #C9D9F2;
    --blue6: #1890FF;
    --grey1: #333333;
    --grey2: #414546;
    --grey3: #828282;
    --grey4: #E0E0E0;
    --red1: #eb5757;
    --red2: #ffe4e4;
    --red3: #bd5b5b;
    --neutral3: #F5F5F5;
    --cyan1: #44CFCF;
}